# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [23]:
nums = [1,2,3,4]
print(nums)

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [7]:
# Method 1 
nums.remove(3)
print(nums)

[1, 2, 4]

In [15]:
# Method 2
del nums[2]
print(nums)

[1, 2, 4]

In [25]:
# Method 3
nums.pop(2)
print(nums)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [31]:
lst = [2,3,4]
lst.insert(0,1)
lst

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [33]:
lst2=[1,2,3,4]
lst2

[1, 2, 3, 4]

In [35]:
lst2.insert(2,'two-and-half')
lst2

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [37]:
# CODE HERE
phrase = "Don't panic!"
phrase

"Don't panic!"

*convert into list*

In [43]:
l=list(phrase)
print(l)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [85]:
phrases = [i for i in phrase if i not in("'","!")]
print(phrases)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [89]:
# CODE HERE
phrases = [i for i in phrases if i not in("p" , "a", "n","D")]
phrases.extend(["p" , "a", "n","D"])
print(phrases)

['o', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [93]:
# CODE HERE
pan = ['p','a','n','D','a']

In [95]:
pan

['p', 'a', 'n', 'D', 'a']

['p', 'a', 'n', 'D', 'a']
['p', 'a', 'n', 'D', 'a']
['p', 'a', 'n', 'D', 'a']
['p', 'a', 'n', 'D', 'a']
['p', 'a', 'n', 'D', 'a']

In [103]:
pan = ''.join(pan)
pan

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [53]:
# CODE HERE
nums = (31,24,35,85)
print(nums)

(31, 24, 35, 85)

In [57]:
print(type(nums))
print(nums)

<class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [63]:
# CODE HERE
l_nums = list(nums)
l_nums.remove(35)
l_nums

[31, 24, 85]

In [65]:
nums = tuple(l_nums)
nums

(31, 24, 85)

**Extent** tuple (85,19)

In [71]:
# CODE HERE
l_numss = list(nums)
l_numss.extend([85,19])
l_numss

[31, 24, 85, 85, 19]

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [111]:
# CODE HERE
tpl = ('i','n','n','0')
print('i' in tpl)

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [121]:
# CODE HERE

list1 = ['Hello',100,[],'innomatics']
list1

['Hello', 100, [], 'innomatics']

In [123]:
list1[2].append(200)
print(list1)

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [135]:
# CODE HERE
tpl = ("Innomatics")

tpl = list(tpl)
tpl = tpl[::-1]
tpl = tuple(tpl)
print(tpl)

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [141]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [147]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

In [175]:
tpl1 = []
for i in tpl:
    tpl2 = i+(100,)
    tpl1.append(tpl2)
print(tpl1)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [179]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
tpl_n =[]

for i in tpl:
    tpl_o = i[:-1]+(100,)
    tpl_n.append(tpl_o)
print(tpl_n)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [193]:
# CODE HERE
input_str = '5 2 3 6 6 5'

str_list = input_str.split()  # ['5', '2', '3', '6', '6', '5']

numbers = []
for s in str_list:
    numbers.append(int(s))

unique_numbers = list(set(numbers))

unique_numbers.sort(reverse=True)

if len(unique_numbers) >= 2:
    print("Second highest:", unique_numbers[1])
else:
    print("Not enough unique numbers.")

Second highest: 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [203]:
# CODE HERE
numbers = [12,24,35,70,88,120,155]
after_removing = [numbers[i] for i in range(len(numbers)) if i not in (0,4,5)]
print(after_removing)

[24, 35, 70, 155]

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [213]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


mid = len(t) // 2


print(t[:mid],t[mid:])

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [215]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

even_list = []
for x in t:
    if x % 2 == 0:
        even_list.append(x)
even_tuple = tuple(even_list)
print(even_tuple)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

# ***Lists***
- Mutable – you can change, add, or remove elements
- Defined using square brackets []
- Has many built-in methods (e.g. append(), remove())
- Slightly slower due to flexibility
- Uses more memory
# ***Tuples***
- Immutable – once created, elements cannot be changed
- Defined using parentheses ()
- Has very few built-in methods
- Slightly faster due to immutability
- Uses less memory

### 2. Explain the difference between append() and extend() with examples

## append()
- Adds a single element to the end of the list
- The element can be of any type (int, string, list...)
- If you append a list, it adds the whole list as a single item (nested list)
#### Examples
list1 = [1, 2, 3]
list1.append(4)
print(list1)  # [1, 2, 3, 4]

list1.append([5, 6])
print(list1)  # [1, 2, 3, 4, [5, 6]]

## extend()
- Adds each element of an iterable (like a list, tuple, or string) to the end of the list
- It merges the iterable into the list
#### Examples
list2 = [1, 2, 3]
list2.extend([4, 5])
print(list2)  # [1, 2, 3, 4, 5]

list2.extend("ab")
print(list2)  # [1, 2, 3, 4, 5, 'a', 'b']

### 3. Explain the difference between pop() and remove() with examples

## pop()
- Removes an element at a specific index (default is the last element)
- Returns the removed element
- If the index is out of range, it raises an IndexError
#### Examples
numbers = [10, 20, 30, 40, 50]

 Remove and return the last item
removed_item = numbers.pop()
print(removed_item)   # 50
print(numbers)        # [10, 20, 30, 40]

 Remove and return item at index 1
print(numbers.pop(1)) # 20
print(numbers)        # [10, 30, 40]


## remove()
- Removes the first occurrence of a specified value
- Does not return the value
- If the value is not found, it raises a ValueError
#### Example
fruits = ['apple', 'banana', 'cherry', 'banana']

 Remove the first 'banana'
fruits.remove('banana')
print(fruits)  # ['apple', 'cherry', 'banana']

 Trying to remove something not in the list
 fruits.remove('grape')  # ValueError

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)