## Task 8  - Loops:

1. write a program that prints the numbers from 1 to 10, each on a new line.

In [19]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. write a program that prints the even numbers from 1 to 20, each on a new line.

In [21]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

3. Write a program that calculates and prints the square of each number from 1 to 20.

In [23]:
for i in range(1, 21):
    print(f"{i}^2 = {i*i}")

1^2 = 1
2^2 = 4
3^2 = 9
4^2 = 16
5^2 = 25
6^2 = 36
7^2 = 49
8^2 = 64
9^2 = 81
10^2 = 100
11^2 = 121
12^2 = 144
13^2 = 169
14^2 = 196
15^2 = 225
16^2 = 256
17^2 = 289
18^2 = 324
19^2 = 361
20^2 = 400

4. write a program that prints the multiples of 3 from 3 to 30, each on a new line.

In [25]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

5. Write a program that prints the numbers from 10 to 1 in descending order, each on a new line.

In [27]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

6. Count the number of vowels in a string using a for loop.
s2= "Hello World"

In [29]:
s2 = "Hello World"
vowels = "aeiouAEIOU"
count = 0

for char in s2:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Number of vowels: 3

7. Display numbers from -10 to -1 using a for loop.

In [31]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

8. Find all prime numbers between 1 and 50 using a for loop.

In [33]:
for num in range(2, 51):
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

9. Print all uppercase letters in the string using a for loop.
s = ”Innomatics Research Labs”

In [35]:
s = "Innomatics Research Labs"
for char in s:
    if char.isupper():
        print(char)

I
R
L

10. Write a program to print the first 10 even numbers using while loop

In [37]:
i = 2
count = 0
while count < 10:
    print(i)
    i += 2
    count += 1

2
4
6
8
10
12
14
16
18
20

11. Write a program to print the first 10 odd numbers using while loop

In [39]:
i = 1
count = 0
while count < 10:
    print(i)
    i += 2
    count += 1

1
3
5
7
9
11
13
15
17
19

12. Write a program to print the first 10 natural numbers using while loop

In [41]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

13. Write a program to print the first 10 whole numbers using while loop

In [43]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

14. n = 5

- A B C D E
- A B C D
- A B C
- A B 
- A

In [45]:
n = 5

for i in range(n, 0, -1):
    for j in range(i):
        print(chr(65 + j), end=' ')
    print()

A B C D E
A B C D
A B C
A B
A