## Task - 4 Tuple

1. Lists the tuple Properties and Explain immutability in Python tuples with examples.

### Tuple Properties
- ***Ordered***: Elements are stored in a defined sequence and can be accessed using an index.
- ***Immutable***: Once created, elements in a tuple cannot be changed, added, or removed.
- ***Allow Duplicates***: Tuples can contain repeated values.
- ***Heterogeneous***: Can hold elements of different data types (e.g., integers, strings, lists, other tuples).
- ***Hashable***: Since they are immutable, they can be used as dictionary keys or elements of a set (if all elements are hashable).

#### Immutability in Tuples
> 'Once a tuple is created, its contents cannot be modified (no item assignment, addition, or deletion).'

In [110]:
t = (1, 2, 3)
t[0] = 10

TypeError: 'tuple' object does not support item assignment

> 'However, if a mutable object like a list is inside a tuple, you can modify that object.'

In [ ]:
t = (1, [2, 3], 4)
t[1][0] = 99  
print(t)

2. Tuple Basics Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.

In [ ]:
fruits =('mango','apple','banana')
#print(fruits)

# by using the for loop
for i in fruits:
    print(i)

3. Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

In [ ]:
t1 = ('vamshi',27)
t2 = ('krishna',23)

t3 = t1+t2

print('After Concatinated new tuple: ',t3)

print('Length of the tuple: ', len(t3))

4. Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum value from the set.

In [ ]:
t =(1,2,3,3,4,4,5)
s = set(t)
print('After Converting the tuple to set:',s)

print('Minimum: ', min(s))
print('Maximum: ', max(s))

5. Tuple Slicing Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7th position using slicing.

In [ ]:
t=(1,2,3,4,5,6,7,8,9,0)
print('Printing the 3rd to 7th position: ',t[2:7])

6. Access value 20 from the tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [ ]:
tuple1 = ("Orange",[10,20,30],(5,15,25))
print(tuple1[1][1])

7. tup=(1,2,3,2,4,5,3,4,2). Count the occurrences of element ‘2’ in the given tuple.

In [ ]:
tup=(1,2,3,2,4,5,3,4,2)
print('Occurences of element 2: ',tup.count(2))

8. Create a tuple of numbers. Use slicing to create a new tuple containing only the even-indexed elements of the original tuple.

In [ ]:
tup=(0,1,2,3,4,5,6,7,8,9)
print(tup[2::2])

### ------------------------***The End!***----------------------------